.nav-link {
  color: gray;
}
.nav-link:hover,
.active {
  color: white;
}
.carousel-image {
  width: 100%;
  height: 100%;
}
.row2 {
  width: 100%;
  background-size: cover;
}
.carousel-caption {
  color: black;
  left: 58%;
  top: 20%;
  right: 10%;
  text-align: justify;
}

#gallery_box li {
  width: 33.333333%;
  max-width: 100%;
  display: inline-block;
  float: left;
  text-align: center;
  overflow: hidden;
  position: relative;
}
#gallery_box {
  padding: 0;
  display: flow-root;
}

#gallery_box li:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#gallery_box li img {
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

footer {
  text-align: center;
}
footer i {
  color: blue;
}
