body {
  background: url("images/background.jpg");
}
header {
  margin-top: 20px;
  background: url("images/carousel.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header li {
  float: left;
}

header li a {
  display: block;
  padding: 10px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid black;
}

header li a:hover,
a.active {
  background-color: red;
  text-decoration: none;
  color: white;
}
.icon {
  height: 24px;
  width: 30px;
}
.row2 {
  width: 100%;
}
.abc {
  list-style-type: none;
  display: inline;
}
