.nav-link {
  color: gray;
}
.nav-link:hover {
  color: black;
}
.card {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  margin-top: 20px;
}
.card:hover {
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.restaurant-image {
  width: 100%;
}
footer {
  margin-top: 20px;
  text-align: center;
}
.logo {
  width: 150px;
}
.upbutton {
  margin-top: 20px;
  color: blue;
  text-align: center;
  height: 50px;
}
